name: E2E Tests

on:
  push:
    branches:
      - e2e-testing
  pull_request:
    branches:
      - e2e-testing


jobs:
  e2e:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install dependencies
        run: npm install

      - name: Run E2E tests
        run: npm test
