@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827; /* gray-900 */
}

html,
body {
  min-height: 100%;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.6;
}

/* Lepši default linki */
a {
  color: inherit;
  text-decoration: none;
}

/* Lepši inputi */
input,
textarea,
select {
  font-family: inherit;
}
